bady {
    color: black;
    background-color: lightpink;
    font-family:Arial, Helvetica, sans-serif
 
}

    
}
h3 {
    color:white
}

p {
    color:black
}
body{
    background-image: url(``);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.card{
    position: relative;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 30px; 
    height: 350px;
    width: 250px;
}